<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <style>
        .content{
            /*border:3px solid pink;*/
            border-radius: 10px;
            height:600px;
            margin-top: 70px;
            background-color: rgb(255,192,203,0.3);
            overflow: auto;
        }
         .subtitle{
            text-align: center;
             font-family: 'Chilanka', cursive;
             color:orange;
            margin-top: 5px;

        }
        .form-group{
            margin-left: 20px;
            margin-top: 20px;

        }
        .blogform{
             border: 1px dotted violet;
             border-radius: 20px;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255,192,203,0.6);">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img id="logo" src="imgs/yumemi.png" width="34" height="26" alt=""><span class="linkText">Dream Garden</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-item nav-link" href="gallery.html"><span class="linkText">Gallery</span></a></li>
                    <li><a class="nav-item nav-link" href="music.html"><span class="linkText">Music</span></a></li>
                    <li><a class="nav-item nav-link" href="story.html"><span class="linkText">Story</span></a></li>
                    <li><a class="nav-item nav-link" href="#"><span class="linkText active">Blog</span></a></li>
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn linkText my-2 my-sm-0" type="submit">Search</button>
                </form>
                 <ul class="navbar-nav">
                    <li><a class="nav-item nav-link" href="login.html"><span class="linkText">Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="app">
        <!-- blog content. it uses v-for to retrieve data from the JSON local storage to the page -->
        <div class="container content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="subtitle">Blog</h1>
                    <h3 class="subtitle" style="text-align: left;">Create a new blog</h3>
                    <!-- The customize template cmt-box -->
                    <cmt-box @refresh="loadComments"></cmt-box>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in list" :key="item.id">
                            <div style="font-family: 'Chilanka', cursive; color:orange;">ID:&nbsp;{{item.id}}&nbsp;&nbsp;
                                Title:&nbsp;{{item.title}}
                            </div>
                            <hr>
                            <div style="font-family: 'Chilanka', cursive; ">{{item.content}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- The template of the form. includes title, content and the submit button -->
    <template id="tmp1">
        <div class="blogform">
            <div class="form-group form-inline row">
                <label style="font-family: 'Chilanka', cursive; color:orange;font-size: 22px;" class="col-1">Title:</label>
                <input type="text" class="form-control col-lg-3 offset-1" v-model="title">
            </div>
            <div class="form-group form-inline row">
                <label style="font-family: 'Chilanka', cursive;color:orange;font-size: 22px;" class="col-1">Content:</label>
                <textarea class="form-control col-lg-8 offset-1" v-model="content"></textarea>
            </div>
            <div class="form-group form-inline">
                <input style="font-family: 'Chilanka', cursive; " type="button" value="submit" class="btn btn-primary offset-2" @click="postCmt">
            </div>
        </div>
    </template>
    <footer class="footer">
        <p class="footerText">Author: Clare&nbsp; &nbsp;&nbsp; Last updated:11/19/2019</p>
    </footer>
    <script>
        //register the template
    var commentBox = {
        template: '#tmp1',
        data() {
            return {
                title: '',
                content: '',
                num:0
            }
        },

        methods: {
            //the post comment function. 
            postCmt() {
                //get the JSON local storage list, which name is 'cmts'
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                //make length+1 each time to control the id num
                this.num=list.length+1
                //new comment variable
                var comment = { id: this.num, title: this.title, content: this.content }
                //push comment into list
                list.push(comment)
                //data type conversion
                localStorage.setItem('cmts', JSON.stringify(list))
                //clear the form field and refresh
                this.title = ''
                this.content = ''
                this.$emit('refresh')
            }
        }
    }

    var vm = new Vue({
        el: '#app',
        data: {

            list: [

            ]
        },
        //this is the life cycle function, when the page is created, load comments.
        created() {
            this.loadComments()
        },
        methods: {
            //get list from the JSON local storage and return to the vm data
            loadComments() {
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                this.list = list

            }
        },
        // register commentbox to 'cmt-box' so html can use it as tag.
        components: {
            'cmt-box': commentBox
        }
    });
    </script>
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>