<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <style>
        .content{
            /*border:3px solid pink;*/
            border-radius: 10px;
            height:600px;
            margin-top: 70px;
            background-color: rgb(255,192,203,0.3);
        }
        .galleryCover{
            width: 142px;
            height: 147px;
            margin:10px;
            border: 1px solid orange;
            border-radius: 10px;
        }
        .imgLabel{
            text-align: center;
             font-family: 'Chilanka', cursive;
        }
        .subtitle{
            text-align: center;
             font-family: 'Chilanka', cursive;
             color:orange;
            margin-top: 5px;

        }
        .catList{
            list-style-type: none;
            transform: translateX(-34px);
        }
        .catItem{
            border: 1px solid orange;
            border-radius: 5px;
            margin-top: 3px;
            background-color: rgb(255, 255, 255, 0.6);
        }
        .catLink{
         /*  color: violet;*/  
            font-family: 'Chilanka', cursive;
        }
        .catLink:hover{
            color:orange;
            text-decoration: none;
           
        }

        .iconImg{
            width: 24px;
            height: 24px;
            transform: translateY(-2px);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255,192,203,0.6);">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img id="logo" src="imgs/yumemi.png" width="34" height="26" alt=""><span class="linkText">Yumemi's world</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-item nav-link" href="#"><span class="linkText active">Gallery</span></a></li>
                    <li><a class="nav-item nav-link" href="music.html"><span class="linkText">Music</span></a></li>
                    <li><a class="nav-item nav-link" href="story.html"><span class="linkText">Story</span></a></li>
                    <li><a class="nav-item nav-link" href="#"><span class="linkText">Blog</span></a></li>
                    <li><a class="nav-item nav-link" href="#"><span class="linkText">Login</span></a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn linkText my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 list">
                    <div class="col-lg-12 content" style="overflow:auto;">
                        <h2 class="subtitle">Category</h2>
                        <ul class="catList">
                            <a v-for="(item,i) in chName" class="catLink" href="" @click.prevent="show(i)">
                                <li class="catItem"><img src="https://img.icons8.com/carbon-copy/100/000000/image.png" class="iconImg">&nbsp;{{chName[i]}}</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 gallery">
                    <div class="col-lg-12 content" style="overflow:auto;">
                        <h2 class="subtitle">{{chName[chNameIndex]}}</h2>
                        <table>
                            <tr>
                                <td v-for="(item,i) in p1"><a :href="a1[i]"><img class="galleryCover" :src="p1[i]" alt=""></a></td>
                            </tr>
                            <tr>
                                <td v-for="label in l1">
                                    <p class="imgLabel">{{label}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td v-for="(item,i) in p2"><a :href="a2[i]"><img class="galleryCover" :src="p2[i]" alt=""></a></td>
                            </tr>
                            <tr>
                                <td v-for="label in l2">
                                    <p class="imgLabel">{{label}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td v-for="(item,i) in p3"><a :href="a3[i]"><img class="galleryCover" :src="p3[i]" alt=""></a></td>
                            </tr>
                            <tr>
                                <td v-for="label in l3">
                                    <p class="imgLabel">{{label}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 rcmd">
                    <div class="col-lg-12 content" style="overflow:auto;">
                        <h2 class="subtitle">Recommended</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p class="footerText">Author: Clare&nbsp; &nbsp;&nbsp; Last updated:10/06/2019</p>
    </footer>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            chName: ["01.Madoka Magica", "02.Violet Evergarden", "03.Nagi no Asukara"],
            chNameIndex: 0,
            p1: ["imgs/madoka_icon_01.jpg"],
            a1: ["slideshow_madoka_01.html"],
            l1: ["madoka-01"],

            p2: [],
            a2: [],
            l2: [],

            p3: [],
            a3: [],
            l3: []


        },
        methods: {
            show(i) {
                if (i == 0) {
                    this.p1 = ["imgs/madoka_icon_01.jpg"],
                        this.a1 = ["slideshow_madoka_01.html"],
                        this.l1 = ["madoka-01"],

                        this.p2 = [],
                        this.a2 = [],
                        this.l2 = [],

                        this.p3 = [],
                        this.a3 = [],
                        this.l3 = []
                }
                if (i == 1) {
                    this.p1 = ["imgs/violet_icon_01.jpg"],
                        this.a1 = ["slideshow_violet_01.html"],
                        this.l1 = ["violet-01"],

                        this.p2 = [],
                        this.a2 = [],
                        this.l2 = [],

                        this.p3 = [],
                        this.a3 = [],
                        this.l3 = []

                }
                if (i == 2) {
                    this.p1 = ["imgs/nagiasu_icon_01.jpg"],
                        this.a1 = ["slideshow_nagiasu_01.html"],
                        this.l1 = ["nagiasu-01"],

                        this.p2 = [],
                        this.a2 = [],
                        this.l2 = [],

                        this.p3 = [],
                        this.a3 = [],
                        this.l3 = []

                }
                this.chNameIndex = i
            }



        }
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>